* {
  font-family: "Inter", sans-serif;
}

@media only screen and (min-width: 768px) {
  html {
    cursor: none;
    cursor: -webkit-none; /* Safari */
    cursor: -moz-none; /* Firefox */
    cursor: none !important; /* IE/Edge */
  }

  button,
  a,
  input,
  textarea {
    cursor: none !important;
  }
}

@media only screen and (max-width: 768px) {
  html {
    cursor: auto !important;
  }

  button,
  a,
  input,
  textarea {
    cursor: auto !important;
  }
}

#hero-before::before {
  content: "";
  position: absolute;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid black;
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(100px);
  }
}

svg #wheel {
  animation: scroll ease 1.5s infinite;
}

.gradient-text {
  background: linear-gradient(
    300deg,
    #ffee07,
    #ff2b6a,
    #ab4bff,
    #5ca2ff,
    #df1700
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 300% 300%;
  animation: gradient 30s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.ButtonText::after {
  @apply dark:bg-white;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: black;
  transform: scaleX(0) translateY(31px);
  transform-origin: right;
  transition: transform 0.5s;
}

.ButtonText:hover::after {
  transform: scaleX(1) translateY(31px);
  transform-origin: left;
}

.project-tooltip::after {
  content: "";
  position: absolute;
}

.project-link:before {
  content: attr(data-text);
  position: absolute;
  color: rgb(212, 212, 212);
  border-radius: 0.75rem;
  top: -1.5rem;
  z-index: 20;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  transition-property: all;
  transition-duration: 200ms;
  opacity: 0;
  left: 37%;
  transition-delay: 100ms;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-link:hover:before {
  opacity: 1;
  top: -3rem;
  background: rgb(64, 64, 64);
}

.blue-button {
  @apply bg-blue-500 transition-all duration-200 ease-in-out text-white;
}

.blue-button:active {
  @apply bg-blue-600 scale-[0.97];
}

.custom-cursor {
  position: absolute;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  transform: translate(-50%, -50%);
  pointer-events: none;
  backdrop-filter: grayscale(1) invert(100%);
  z-index: 30;
  transition-property: opacity, width, height;
  transition-duration: 200ms;
  transition-timing-function: ease;
}

.mouse-click {
  width: 19px !important;
  height: 19px !important;
  background-color: rgba(0, 0, 0, 0.4) !important;
}

.skill {
  @apply dark:bg-zinc-900 bg-white p-6 md:p-10 rounded-2xl border dark:border-neutral-500/10 border-neutral-200/80;
}

.skill > div > span {
  @apply dark:text-white;
}

.contact-input {
  @apply text-sm rounded py-2 px-3 text-neutral-600 bg-neutral-100 dark:bg-zinc-900 outline outline-2 outline-neutral-200/80 dark:outline-neutral-500/20 focus:outline-blue-500 focus:outline-2 focus:outline;
}

.contact-textarea {
  @apply text-sm rounded py-2 px-3 text-neutral-600 dark:bg-zinc-900 bg-neutral-100 outline outline-2 outline-neutral-200/80 dark:outline-neutral-500/20 focus:outline-blue-500 focus:outline-2 focus:outline;
}

#contact-form input,
#contact-form textarea {
  @apply dark:text-neutral-300;
}

.navbar {
  @apply flex md:bg-white/70 md:dark:bg-white/[0.15] max-w-[180px] md:max-w-min md:rounded-full top-5 flex-col md:flex-row justify-center items-center md:p-2 fixed backdrop-blur-[8px] shadow-[0_0_3px_rgba(0,0,0,0.3)] z-10 md:transition !important;
}

@media only screen and (max-width: 768px) {
  .navbar-item {
    @apply bg-blue-500 text-white dark:text-black w-full text-center rounded-2xl p-1 py-2;
  }
}

@media only screen and (min-width: 768px) {
  .navbar-item {
    @apply md:bg-none md:text-black dark:text-white w-fit text-center rounded-none p-0;
  }
}