* {
   font-family: 'Inter', sans-serif;
}

#hero-before::before {
  content: "";
  position: absolute;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid black;
}

@keyframes scroll {
	0% {
		transform: translateY(0);
	}
	30% {
		transform: translateY(100px);
	}
}

svg #wheel {
	animation: scroll ease 1.5s infinite;
}

.gradient-text {
  background: linear-gradient(300deg, #ffee07, #ff2b6a, #ab4bff, #5ca2ff, #df1700);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 30s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}