---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar";
import Hero from "../components/Hero";
import Manifest from "../components/Manifest";
import About from "../components/About";
import Project from "../components/Project";
import Skill from "../components/Skill";
import Contact from "../components/Contact";
import { ToastContainer } from "react-toastify";
import "react-toastify/dist/ReactToastify.css";
---

<Layout title="Emmanuel Isenah | Web Developer">
  <div class="custom-cursor"></div>
  <div class="container mx-auto px-4 flex justify-center">
    <Navbar client:only="react" />
  </div>
  <div id="" class="container mx-auto px-4 lg:px-12 xl:px-32 overflow-hidden">
    <Hero client:only="react" />
  </div>
  <div class="container mx-auto px-4 lg:px-12 xl:px-32 overflow-hidden">
    <Manifest client:only="react" />
  </div>
  <div class="bg-neutral-100">
    <div id="about" class="container mx-auto lg:px-12 xl:px-32 overflow-hidden">
      <About client:only="react" />
    </div>
  </div>
  <div
    id="projects"
    class="container mx-auto px-4 lg:px-12 xl:px-32 overflow-hidden"
  >
    <Project client:only="react" />
  </div>
  <div id="skills" class="bg-neutral-100">
    <div class="container py-24 mx-auto lg:px-12 xl:px-32 overflow-hidden">
      <Skill client:only="react" />
    </div>
  </div>
  <div
    id="contact"
    class="container pt-24 mx-auto px-4 lg:px-12 xl:px-32 overflow-hidden"
  >
    <Contact client:load />
  </div>
  <ToastContainer client:only="react" />
</Layout>

<script>
  const customCursor = document.querySelector(".custom-cursor") as HTMLElement;
  const root = document.querySelector("html") as HTMLElement;
  let cursorX = 0;
  let cursorY = 0;
  let scrollX = window.scrollX || window.pageXOffset;
  let scrollY = window.scrollY || window.pageYOffset;

  const handleCursor = (e: MouseEvent) => {
    cursorX = e.clientX;
    cursorY = e.clientY;
    customCursor.style.top = cursorY + scrollY + "px";
    customCursor.style.left = cursorX + scrollX + "px";
  };

  root.addEventListener("mousemove", handleCursor);

  window.addEventListener("scroll", () => {
    scrollX = window.scrollX || window.pageXOffset;
    scrollY = window.scrollY || window.pageYOffset;
    customCursor.style.top = cursorY + scrollY + "px";
    customCursor.style.left = cursorX + scrollX + "px";
  });
</script>
